body { 
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #E5AED0;
}

#main-container {
    display: flex;
    margin: 0px;
    width: 1024px;
    height: 4000px;
    /* background-color: #E5AED0; */
    /* justify-content: center; */
    /* border: solid 1px black; */
}

.name {
    margin: 0px;
    background-color: #F2F2F2;
    width: 1024px;
    height: 200px;
    position: fixed;
    justify-content: center;
    align-items: center ;
    text-align: center;
}

ul {
    justify-content: space-around;
    font-size: 20px;
    /* padding: 20px;
    padding-left: 100%;
    padding-right: 100%; */
    background-color: #FFE6FF;
    width: 1300px;
    position: fixed;
    margin-top: 164px
}

#self-portrait {
    height: 545px;
    width: 355px;
    margin-top: 300px ;
    margin-left: 0px ;
}

#about-box {   
    width: 702px;
    height: 722px;
    font-size: 25pt;
}

#about-paragraph {
    font-size: 20pt;
    width: 625px;
    height: 410px;
    /* margin-top: 400px;
    margin-right: 50px; */
    /* align-content: flex-end;
    justify-content: center; */
    text-align: right;
}

#education-box {
    width: 702px;
    height: 722px;
    font-size: 25pt;
    /* background-color: #F2F2F2; */
}

#education-paragraph {
    font-size: 20pt;
    width: 500px;
    height: auto;
    align-content: flex-end;
    justify-content: center;
    text-align: right;
}

/* #Portfolio {
    margin-top: 3000px;
} */